%table.table.table-striped.remote-movies
  %tbody
    - movies.each_with_index do |movie, i|
      %tr{ 'data-title': movie.title }
        %td= i + 1
        %td
          .placeholder.poster
        %td
          %h4
            = link_to movie.title, movie_path(movie)
          %p.placeholder.rating{ 'data-loading': 'Loading rating...', 'data-prefix': 'Rating: ', 'data-key': 'rating'}
          %p
            %strong
              = link_to movie.genre.name, movies_genre_path(movie.genre)
            = ' (' + movie.released_at.to_s + ')'
          %p= movie.description
          %p.placeholder.plot{ 'data-loading': 'The plot is coming...', 'data-prefix': 'Plot: ', 'data-key': 'plot' }
